@use './variables';

.form {
    margin: 24px auto;
    max-width: 768px;
    width: 94%;
    display: flex;
    justify-content: center;
    background-color: variables.$primary-color;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;

    &__input--text {
        color: white;
        font-size: 14px;
        width: 75%;
        height: 48px;
        background: transparent;
        border: none;
        outline: none;

        &::placeholder {
            color: white;
        }
    }

    &__input--submit {
        width: 25%;
        padding: 7px;
        margin-left: 3px;
        border: 0;
        border-radius: 2px;
        color: variables.$primary-color;
        background-color: white;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }
}