@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.App {
  color: white;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

div::-webkit-scrollbar-track {
  background-color: white;
}

div::-webkit-scrollbar {
  background-color: white;
}

div::-webkit-scrollbar-thumb {
  background-color: variables.$primary-color;
}

::placeholder {
  color: black;
}

button {
  padding: 8px;
  border: 0;
  color: white;
  background-color: variables.$primary-color;
  border-radius: 2px;
}