* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    overflow: hidden;
  }
  
  .App {
    background-color: #757c84;
    color: #2c3035;
    font-family: sans-serif;
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  div::-webkit-scrollbar-track {
    background-color: #eef2f1;
  }
  
  div::-webkit-scrollbar {
    background-color: #eef2f1;
  }
  
  div::-webkit-scrollbar-thumb {
    background-color: #2c3035;
  }
  
  button {
    padding: 8px;
    border: 0;
    color: #eef2f1;
    background-color: #2c3035;
    font-weight: bold;
  }