@use './variables';

.header {
  background-color: variables.$primary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

  &__button {
    background-color: white;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }
}