@use './variables';

.header {
  background-color: variables.$primary-color;
  color: variables.$tertiary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

  &__button {
    background-color: variables.$quaternary-color;
    color: black;
  }
}