@use './variables';

.message {
  display: flex;
  width: fit-content;
  max-width: 568px;
  margin: 8px 0;
  gap: 8px;

  &--mine {
    flex-direction: row-reverse;
    align-self: flex-end;
  }

  &__profile {
    padding: 4px 0 0 8px;
  }

  &__avatar {
    border-radius: 50%;
    height: 35px;
  }

  &__container {
    display: flex;
    width: 98%;
    flex-direction: column;
    padding: 8px;
    background-color: variables.$secondary-color;
    row-gap: 12px;
    border-radius: 8px;
    color: black;

    &--mine {
      background-color: variables.$primary-color;
      color: white;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
  }

  &__button {
    width: 150px;
    background-color: #ffffff;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }
}